@import "tailwindcss";

/* 
  @theme - is used to define custom design system variables

  For example, you can add a new color to your project by defining a theme variable like --color-mint-500:

  Now you can use utility classes like bg-mint-500, text-mint-500, or fill-mint-500 in your HTML:

  <div class="bg-mint-500">div with bg mint</div>
*/
@theme {
  --color-gray-200: #F5F5F5;
  --color-zinc-300: #C1C0C1;
  --color-secondary-300: #E07575;
  --color-secondary-500: #DB4444;
  --color-secondary-600: #d32d2d;
  --color-secondary-700: #cc2020;
  --color-secondary-800: #c11616;
  --color-secondary-900: #ac0909;
  --color-placeholder: #A0A3BD;
}

body {
  font-family: 'Poppins', sans-serif;
}

#nprogress .bar{
  background-color: var(--color-secondary-500) !important;
  height: 5px !important;
}

.skeleton-loader {
  background-color: #f0f0f0;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  border-radius: 4px;
  color: transparent !important;
}

@keyframes skeleton-loading {
  0% { background-color: #f0f0f0; }
  50% { background-color: #e0e0e0; }
  100% { background-color: #f0f0f0; }
}

@media only screen and (min-width: 2218px) {
  .login-image {
    object-fit: fill;
  }
}

input::placeholder, textarea:::placeholder{
  color: var(--color-placeholder)
}

/* Vue Splide */
.splide__pagination__page{
  width: 12px !important;
  height: 12px !important;
}

.splide__pagination__page.is-active{
  border: 2px solid #fff !important;
  transform: scale(1.2) !important;
  background-color: var(--color-secondary-500) !important;
}

button:disabled{
  opacity: .5;
  cursor: not-allowed;
}

button:disabled:hover{
  background: var(--color-secondary-500);
}

/* Sweetalert2 */
.swal2-shown {
  overflow: unset !important;
  padding-right: 0px !important;
}